@model List<NewShop.Models.CartItem>
<div class="cart box_1">
    <a href="checkout.html">
        <h3>
            <div class="total">
                <span class="simpleCart_total"></span> (<span>@Model.Count</span> sản phẩm)
            </div>
            <img src="/Assets/clients/images/bag.png" alt="" />
        </h3>
    </a>
    <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
    <div class="clearfix"> </div>
</div>
